body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
   font-family: cursive;
   font-size: 20px;

}
.container{
  top: 30% ;
  left: 37%;
  position: absolute;
 width: 400px;
 text-align: center;
 border: 3px solid rgb(244, 244, 244);
 background: black;
 border-radius: 10px;
 padding: 3px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 5px;
}
.buttons button{
    margin:3px;
    border-radius: 10px;

}
.buttons button:hover{
    background-color: darksalmon;
}
input{
    height: 50px;
    width: 300px;
    background-color:grey ;
    color: white;


}
#result{
    grid-column: 2/5;
    
}
input:focus,
input:active,
button:focus,
button:active{
    outline:none;
}
.colored{
   background-color: rgb(41, 190, 83); 
}